<link rel="stylesheet" href="./stylesheets/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
<link rel="stylesheet" href="./stylesheets/homebtnstyle.css">
		<div class="wrapper">
			<div class="inner">	
                <form action="/" method="GET">				
						{{#if this.messagesent}}
                        	<b style="color:WHITE">THANK YOU FOR CONTACTING US!</b>
							<button class="button" type="submit"><span>Back To Home<i class="zmdi zmdi-arrow-right"></i></span></button>
            			{{/if}}
				</form>
			</div>
		</div>
	