{{>adminprofilenavbar}}

<div class="container text-center">
  <h1 class="mt-5 text-white font-weight-light">Admin DashBoard</h1>
  <p class="lead text-white-50">Welcome To your Profile Page</p>
</div>