<link rel="stylesheet" href="/stylesheets/adminprofile/navbarstyle.css">
<link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/admin/adminprofile">Admin Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/notifications" role="button">Notifications</a>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Users</a>
          
          <div class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/searchuser">Search Students</a>
            <a class="dropdown-item" href="/admin/alluser">View Students Database</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/admin/allcompany">View Company Database</a>
            <a class="dropdown-item" href="/admin/searchcompany">Search Companies</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/checkmessages" role="button" >
          Messages
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/" role="button">Logout&nbsp;<img src="https://img.icons8.com/nolan/20/000000/logout-rounded-up.png"></a>
        </li>
      </ul>
    </div>

    
    
  </div>
</nav>



<script src="/javascripts/jquery.slim.min.js"></script>
<script src="/stylesheets/bootstrap/js/bootstrap.bundle.min.js"></script>