<!-- LINEARICONS -->
		<link rel="stylesheet" href="/stylesheets/companyprofile/fonts/linearicons/style.css">

<!-- STYLE CSS -->
		<link rel="stylesheet" href="/stylesheets/companyprofile/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	body {font-family: Arial, Helvetica, sans-serif;}
	
	.navbar {
		width: 100%;
		background-color: rgb(84, 94, 104);
		overflow: auto;
	
	}
	
	.navbar a {
		float: left;
		padding: 12px;
		color: white;
		text-decoration: none;
		font-size: 17px;
	}
	
	.navbar a:hover {
		background-color: rgb(109, 170, 211);
	}
	
	.active {
		background-color: rgb(5, 12, 5);
	}
	
	@media screen and (max-width: 500px) {
		.navbar a {
		float: none;
		display: block;
		}
	}
</style>

<div class="navbar"> 
		
	<a href="/company/companyprofile"><i class="fa fa-fw fa-calendar-o"></i> Select Date</a> 
	<a href="/company/adminmessages"><i class="fa fa-fw fa-envelope"></i>Admin Message </a> 
	<a href="/" style="float:right"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
</div>
    <div class="wrapper">
        {{#each test2}}
        <div class="inner">
            <!--Application Dashboard-->
            <form action="/company/back" method="POST">
                <h3>Messages from Admin</h3>
                
                <hr>
                <div class="form-holder">
                    {{#if approve}}
                        <h4>The admin has approved your date for the job id : {{this.jobid}}</h4>
                    {{/if}}
                    {{#if reject}}
                        <h4>The admin has declined your request for the job id: {{this.jobid}}</h4>
                    {{/if}}
                    <!--input type="hidden" name="comemail" id="comemail" value={{this.test1}}>
                    <button class="btn btn-success btn-block" type="submit">Back To Profile Page</button>
                    <br>
                    OR
                    <br>
                    
                    <button class="btn btn-success btn-block" type="submit">LOGOUT</button-->            
                </div>
            </form>
            
        </div>
        {{/each}}
    </div>