
  
    
        .searchbar{
        margin-bottom: auto;
        margin-top: auto;
        height: 60px;
        background-color: #353b48;
        border-radius: 30px;
        padding: 10px;
        }
    
        .search_input{
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_input{
        padding: 0 10px;
        width: 450px;
        caret-color:red;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: #e74c3c;
        }
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        }
        a.btn:hover {
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
        }
        a.btn {
                -webkit-transform: scale(0.8);
                -moz-transform: scale(0.8);
                -o-transform: scale(0.8);
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
        }

        /*------------------------table------------------------*/

        * {
        box-sizing: border-box;
        }
        
           
        #myTable {
        margin: auto;
        border-collapse: collapse;
        width: 20%;
        border: 1px solid #ddd;
        
        }
        
        #myTable th, #myTable td {
        text-align: center;
        padding: 12px;
        }
        
        #myTable tr {
        border-bottom: 1px solid #ddd;
        }
        
        #myTable tr.header, #myTable tr:hover {
        background-color: lightslategray;
        }